/* Header start */
header {
  background-color: #0f1ef1; /* Cor corrigida */
  height: 60px;
  border-bottom: 3px solid #00008b;
  display: flex;
  justify-content: space-between; /* Espaça o conteúdo */
  align-items: center; /* Centraliza verticalmente */
  padding: 0 20px; /* Espaçamento interno do cabeçalho */
  box-shadow: 0 4px 2px -2px gray; /* Sombra para dar destaque */
  margin-bottom: 0;
}

header .header-content h1 {
  margin: 0;
  color: white; /* Texto do título em branco */
}

header i {
  color: white; /* Mantém os ícones visíveis */
  padding: 0 10px;
  font-size: 30px; /* Ajuste do tamanho dos ícones */
}

header .icons,
header .search-bar {
  display: flex;
  align-items: center;
  justify-content: center;
}

header .icons {
  order: 2; /* Posicionar os ícones depois */
}

/* Header end */

/* Search-bar start */
header .search-bar form {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 1s;
  width: 500px; /* Defina a largura completa aqui */
  height: 50px;
  background: white;
  box-sizing: border-box;
  border-radius: 25px;
  border: 4px solid white;
  padding: 5px;
}

header .search-bar input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 42.5px;
  line-height: 30px;
  outline: 0;
  border: 0;
  font-size: 1em;
  border-radius: 20px;
  padding: 0 20px;
  display: block; /* O campo de entrada será exibido diretamente */
}

header .fa {
  box-sizing: border-box;
  padding: 10px;
  width: 42.5px;
  height: 42.5px;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 50%;
  color: #8c52ff;
  text-align: center;
  font-size: 1.2em;
  transition: all 1s;
  background: #8c52ff; /* Cor de fundo do ícone */
  color: white; /* Mantém o ícone branco */
}

header .search-bar {
  margin-top: 60px;
}
/* Search-bar end */

/* subheader start */

.container {
  margin-bottom: 50px;
  margin-left: 163px;
}

.navbar {
  border-bottom: 2px solid #0f1ef1; /* Adiciona uma borda na parte inferior do subcabeçalho */
  margin-top: 0;
  height: 50px;
}

.navbar-nav {
  display: flex;
  align-items: center; /* Centraliza verticalmente os itens */
}

.navbar-nav .nav-link {
  display: flex; /* Configura os links como flex containers */
  align-items: center; /* Centraliza verticalmente ícone e texto */
  justify-content: center; /* Centraliza horizontalmente o conteúdo */
  font-weight: 600; /* Aumenta o peso da fonte */
  color: #0f1ef1; /* Cor personalizada dos links */
  transition: color 0.3s; /* Transição suave para a cor */
  padding: 10px; /* Ajusta o espaçamento interno */
  margin-top: 50px;
}

.navbar-nav .nav-link i {
  margin-right: 8px; /* Adiciona um pequeno espaço entre o ícone e o texto */
}

.navbar-nav .nav-link:hover {
  color: #007bff; /* Cor ao passar o mouse */
}

/* subheader end */
